<div class="navbar">
    <ul class="flex flex-row gap-4">
        <li class="flex-column" routerLink="/">
            <a>
                <i class="pi pi-search"></i>
                Alojamientos

            </a>
        </li>
        <li class="flex-column">
            <a routerLink="manage">
                <i class="pi pi-building"></i>
                Administrar hoteles
            </a>
        </li>
        <li class="flex-column" routerLink="bookings">
            <a>
                <i class="pi pi-calendar"></i>
                Reservas

            </a>
        </li>
    </ul>
    <app-booking-search></app-booking-search>
</div>