<div class="text-center mb-3">
    <h1 class="text-primary">Administrar hoteles</h1>
    <label htmlFor="descripcion" class="text-500">Consulta, crea o edita las hoteles</label>

    <div class="mt-2 flex justify-content-end mb-2">
        <p-button label="Crear hotel" severity="success" type="button" (onClick)="showModal = true" icon="pi pi-plus" />
    </div>

    <app-hotels-table [hotels]="hotels" (editHotel)="edit($event)" />

    <p-dialog [modal]="true" [(visible)]="showModal" [style]="{ width: '80rem' }" (onHide)="showModal = false">
        @if (showModal) {
        <app-hotel-form [editHotel]="selectedHotel" />
        }
    </p-dialog>
</div>